traitlets==5.0.5
ipython==7.19.0
backcall==0.2.0
pyparsing==2.1.5
boto==2.49.0
six==1.6.1
appdirs==1.4.2
parso==0.1.0
path.py==9.1
decorator==5.1.1
tornado==6.1b2
jedi==0.11.0
pickleshare==0.6
ipython-genutils==0.1.0
prompt-toolkit==3.0.43
setuptools==35.0.2
wcwidth==0.2.13
packaging==21.3
