sgmllib3k==1.0.0
idna==2.6
cachetools==4.2.1
chardet==4.0.0
certifi==2019.6.16
beautifulsoup4==4.9.3
gspread==3.6.0
rsa==4.9
requests==2.25.1
feedparser==6.0.2
pyasn1-modules==0.4.0
pyasn1==0.4.7
google-auth==2.29.0
requests-oauthlib==2.0.0
google-auth-oauthlib==1.2.0
urllib3==1.24
oauthlib==3.2.2
