packaging==21.3
numpy==1.16.6
pyparsing==3.1.2
cycler==0.10.0
python-dateutil==2.9.0.post0
pillow==9.5.0
six==1.5.0
fonttools==4.51.0
pytz==2013.6
matplotlib==3.5.2
scipy==1.5.1
kiwisolver==1.4.4
seaborn==0.11.1
pandas==0.24.2
